/* RESET Y CONFIGURACIÓN GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Incluye padding y borde dentro del tamaño de los elementos */
}

/* VARIABLES GLOBALES */
:root {
  /* Colores principales */
  --primary-color: #5c6bc0;      /* Morado claro principal usado en App.css */
  --secondary-color: #3949ab;    /* Morado más oscuro para acentos */
  --third-color: #3c03a0;        /* Morado oscuro para textos y detalles */
  --complementary-color: #f49128;        /* Naranja para destacar*/
  --complementary-dark: #fd7701;   /* Naranja más oscuro para hover */
  --eliminarFav-color: #ff4a21
  --neutral-white: #ffffff;
  --neutral-dark: #333333;
  --error-color: #ee2a2a;
  

  /* Espaciado consistente */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
}

/* BASE DE LAYOUT */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  background-color: var(--neutral-light); /* Fondo general */
  color: var(--neutral-dark);             /* Texto por defecto */
  line-height: 1.6;
  overflow-x: hidden;
}

/* SCROLLBAR PERSONALIZADO */
::-webkit-scrollbar {
  width: 8px;/* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 10px;/* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
  background: #f49128; /* Naranja claro */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fd7701; /* Naranja más oscuro al pasar el ratón */
}
